.lite-topbar .nav-main .nav_item .item_li[data-v-b89d2d20] {
  color: #a5adb5
}

.lite-topbar .nav-main .nav_item .item_li.cur[data-v-b89d2d20] {
  color: #000
}

div[data-v-6a61d97f] {
  margin: 1rem auto
}
