.m-pic-complex[data-v-0df1ca00] {
  width: 24%;
  padding-bottom: 24%;
  margin-left: 1.33333%;
  border-radius: .35em
}

.m-pic-complex .m-rpic-img[data-v-0df1ca00] {
  width: auto;
  height: 100%;
  max-width: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.m-pic-complex .m-rpic-c[data-v-0df1ca00] {
  font-size: 1.194rem
}

.m-pic-complex[data-v-0df1ca00]:first-child {
  margin-left: 0
}

.image-list[data-v-0df1ca00] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  margin-bottom: 2.5rem
}

.image-wrap[data-v-0df1ca00] {
  margin: .5%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.image-wrap.error[data-v-0df1ca00]:after {
  content: "\4E0A\4F20\5931\8D25"
}

.image-wrap.img3[data-v-0df1ca00] {
  -ms-flex-preferred-size: 32.3%;
  flex-basis: 32.3%
}

.image-wrap.img2[data-v-0df1ca00] {
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%
}

.image-wrap.img1[data-v-0df1ca00] {
  -ms-flex-preferred-size: 99%;
  flex-basis: 99%
}

.image-wrap.img1[data-v-0df1ca00]:after {
  position: absolute
}

.image-wrap.img1 .image-placeholder[data-v-0df1ca00] {
  padding-top: 0
}

.image-wrap.img1 .composer-image[data-v-0df1ca00] {
  position: static
}

.image-placeholder[data-v-0df1ca00] {
  padding-top: 100%
}

.composer-image[data-v-0df1ca00] {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.composer-image.loading[data-v-0df1ca00] {
  opacity: .3
}

.more-image[data-v-0df1ca00] {
  border: 1px dashed #cbd1d7
}

.more-image[data-v-0df1ca00]:after,
.more-image[data-v-0df1ca00]:before {
  content: "";
  width: 1.875rem;
  height: 1px;
  background-color: #cbd1d7;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.more-image[data-v-0df1ca00]:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg)
}

.card9 .card .m-img-box[data-v-a967b470] {
  width: 5.25rem;
  height: 5.25rem;
  margin: 0 0 0 0
}

.m-text-box h4[data-v-a967b470] {
  font-size: .8125rem
}

.m-text-box h3[data-v-a967b470] {
  line-height: 1.6
}

.card9 .card.m-panel[data-v-a967b470] {
  border-radius: 3px;
  border: 0;
  background-color: #f7f7f7
}

.contactlist .card25+.card25 {
  border-top-width: 0
}
