.CheckAudioAuth_box_3llxj {
  padding: 140px 0
}

.CheckAudioAuth_bg_3r3c7 {
  width: 242px;
  height: 198px;
  margin: 0 0 20px;
  background-repeat: no-repeat;
  background-size: 100%
}

.CheckAudioAuth_bg23_197W3 {
  background-image: url(https://h5.sinaimg.cn/upload/100/1474/2024/09/06/compose_upload_default.png)
}

.CheckAudioAuth_text_3qsgH {
  line-height: 20px;
  font-size: 14px
}

.CheckAudioAuth_btn_RnG0I {
  margin: 40px 0 0
}

.CheckAudioAuth_btn_RnG0I button {
  width: 142px
}

.CheckAudioAuth_btn_RnG0I button+button {
  margin-left: 24px
}
