.AddRssModal_layer_2RAnf {
  width: 502px;
  padding: 30px 20px 20px;
  background: #fff;
  background: var(--w-card-background);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.AddRssModal_close_3BWMD {
  position: absolute;
  top: 10px;
  right: 16px;
  padding: 4px;
  font-size: 12px;
  cursor: pointer
}

.AddRssModal_tit_2_lxf {
  margin: 0 0 16px;
  line-height: 22px;
  text-align: center;
  font-size: 16px
}

.AddRssModal_t1_1sxni {
  line-height: 20px;
  font-size: 14px
}

.AddRssModal_t1_1sxni a {
  color: var(--w-link-blue)
}

.AddRssModal_t2_R38NA {
  margin: 10px 0 0;
  line-height: 17px;
  font-size: 12px;
  color: #939393;
  color: var(--w-sub)
}

.AddRssModal_fb_1oayy {
  font-weight: 700;
  color: var(--w-b-line-default)
}

.AddRssModal_btn_KZE2y {
  position: relative;
  margin: 20px 0 0;
  color: #939393;
  color: var(--w-sub)
}

.AddRssModal_btn2_2bSG2 {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.AddRssModal_ipt_1VMO6 {
  width: 100%;
  margin: 8px 0 0
}

.AddRssModal_step_3kURU {
  padding: 0 60px 20px;
  color: #939393;
  color: var(--w-sub)
}

.AddRssModal_sn_1qPGJ {
  width: 24px;
  height: 24px;
  border: 2px solid #e9e9e9;
  border: 2px solid var(--w-layer-border);
  border-radius: 50%;
  font-weight: 700
}

.AddRssModal_st_1EXcz {
  margin: 4px 0 0;
  line-height: 18px;
  font-size: 12px
}

.AddRssModal_sl_3yXIY {
  height: 2px;
  margin: 11px 6px;
  background: #e9e9e9;
  background: var(--w-layer-border)
}

.AddRssModal_step1_1bVSo>div:first-child,
.AddRssModal_step2_3Ce15>div:first-child,
.AddRssModal_step2_3Ce15>div:nth-child(3),
.AddRssModal_step3_2LZU6 {
  color: var(--w-main-b)
}

.AddRssModal_step1_1bVSo>div:first-child .AddRssModal_sn_1qPGJ,
.AddRssModal_step2_3Ce15>div:nth-child(3) .AddRssModal_sn_1qPGJ,
.AddRssModal_step3_2LZU6 .AddRssModal_sn_1qPGJ {
  background: var(--w-cl-green);
  border-color: var(--w-cl-green);
  color: #fff;
  color: var(--w-contrast)
}

.AddRssModal_step2_3Ce15>div:nth-child(2) .AddRssModal_sl_3yXIY,
.AddRssModal_step3_2LZU6 .AddRssModal_sl_3yXIY {
  background: var(--w-cl-green)
}

.AddRssModal_step2_3Ce15>div:first-child .AddRssModal_sn_1qPGJ,
.AddRssModal_step3_2LZU6>div:first-child .AddRssModal_sn_1qPGJ,
.AddRssModal_step3_2LZU6>div:nth-child(3) .AddRssModal_sn_1qPGJ {
  background: var(--rss_icon) no-repeat;
  background-size: 100%;
  border: none;
  text-indent: -999px;
  overflow: hidden
}

.AddRssModal_card_4_dzr {
  margin: 0 0 10px
}

.AddRssModal_screenshotInput_Lb81A {
  display: none
}

.BindRssModal_layer_36Go4 {
  width: 502px;
  padding: 30px 20px 20px;
  background: #fff;
  background: var(--w-card-background);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.BindRssModal_close_2Q5qv {
  position: absolute;
  top: 10px;
  right: 16px;
  padding: 4px;
  font-size: 12px;
  cursor: pointer
}

.BindRssModal_tit_2X21W {
  margin: 0 0 16px;
  line-height: 22px;
  text-align: center;
  font-size: 16px
}

.BindRssModal_t1center_1U3H2 {
  text-align: center;
  color: var(--w-main-b)
}

.BindRssModal_t1_1Ez1g {
  line-height: 20px;
  font-size: 14px
}

.BindRssModal_t1_1Ez1g a {
  color: var(--w-link-blue)
}

.BindRssModal_t2_2HDDS {
  margin: 10px 0 0;
  line-height: 17px;
  font-size: 12px;
  color: #939393;
  color: var(--w-sub)
}

.BindRssModal_fb_CSbwP {
  font-weight: 700;
  color: var(--w-b-line-default)
}

.BindRssModal_btn_1CI48 {
  position: relative;
  margin: 20px 0 0;
  color: #939393;
  color: var(--w-sub)
}

.BindRssModal_btn1_5ZB2N {
  margin: 10px 0 0;
  color: var(--w-b-line-default)
}

.BindRssModal_btn1in_1tVPA {
  font-size: 12px;
  font-weight: 400
}

.BindRssModal_svg_2I7Qq {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto 16px
}

.AddRss_gap1_3dp9S {
  margin-top: 26px
}

.AddRss_help_1ndVV {
  height: 20px;
  cursor: pointer
}

.AddRss_helppop1_2Wl3a {
  width: 268px
}

.AddRss_popc_3HFwU {
  text-align: center
}

.AddRss_helppop2_3DwKw {
  width: 364px
}

.AddRss_helppop3_1p_RU {
  width: 389px
}

.AddRss_qa_AF0JW {
  margin-left: 4px;
  padding: 2px;
  font-size: 16px;
  color: #939393;
  color: var(--w-sub)
}

.AddRss_gap1_3dp9S:first-child {
  margin-top: 0;
  padding-top: 26px
}

.AddRss_tit2_QXziF {
  line-height: 18px;
  font-size: 14px
}

.AddRss_tit2_QXziF span {
  margin-left: 4px;
  color: #e14123;
  color: var(--w-special)
}

.AddRss_top1_2Sotm {
  margin: 10px 0 0;
  margin-bottom: 26px
}

.AddRss_linkb_3hzhr {
  color: var(--w-link-blue)
}

.AddRss_fm_ygVXP {
  font-weight: 500
}

.AddRss_cardbox_2jSfh {
  margin-bottom: 20px;
  padding: 0 14px;
  border: 1px solid var(--w-audio-dash)
}

.AddRss_uploadbox_gltUo {
  margin: 40px 0 0
}

.AddRss_uploadbox_gltUo>.AddRss_tit2_QXziF {
  font-weight: 500
}

.AddRss_uploadtip_3A3eG {
  height: 308px;
  margin: 10px 0 0;
  border: 1px solid var(--w-audio-dash)
}

.AddRss_uploadtip_3A3eG .AddRss_tit2_QXziF {
  margin: 33px 0 29px
}

.AddRss_icon_3Ny8L {
  width: 50px;
  height: 50px;
  color: #939393;
  color: var(--w-sub)
}

.AddRss_pop_31TPB {
  height: 0
}

.AddRss_btn_3sJmj {
  width: 142px;
  margin: 0 0 5px
}
