.AiAudio_ai_U4t5x {
  width: 18px;
  height: 18px;
  margin-right: 2px;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.AiAudio_box_3ZKwr {
  border: 1px solid var(--w-audio-dash);
  padding: 10px;
  margin-top: 20px
}

.AiAudio_cpic_2Brxn {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  margin-right: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.AiAudio_t1_21hqP {
  font-size: 15px;
  line-height: 18px;
  background: linear-gradient(272.35deg, #70d0ff 3.94%, #77a1ff 27.96%, #be70ff 51.97%, #ff73b9 75.99%, #ff8753);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-right: 8px
}

.AiAudio_t2_2ek34 {
  font-size: 12px;
  line-height: 16px;
  margin-left: 8px;
  color: #bdbdbd
}

.AiAudio_t3_3b-W4 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 6px
}
