.Title_tit1_2qSyA {
  line-height: 20px;
  font-size: 16px;
  font-weight: 700
}

.Title_tit1_2qSyA span {
  margin-left: 4px;
  color: #e14123;
  color: var(--w-special)
}

.Title_gap2_35K9V {
  margin-top: 20px
}

.Title_top1_FHMUz {
  margin: 10px 0 0
}
