.VideoEdit_box_2CAfR {
  margin: 20px 20px 0
}

.VideoEdit_picbed_16XZh {
  position: relative;
  line-height: 0;
  cursor: pointer
}

.VideoEdit_picbed_16XZh:after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #ff8200;
  border: 3px solid var(--w-brand);
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.VideoEdit_picbed_16XZh:hover:after {
  display: block
}

.VideoEdit_curr_2O8SS {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px
}

.VideoEdit_curr_2O8SS:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 40px solid #ff8200;
  border-top: 40px solid var(--w-brand);
  border-left: 40px solid transparent
}

.VideoEdit_icon_3dvxT {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #fff;
  color: var(--w-contrast);
  font-weight: 700
}

.VideoEdit_tab_2O-Y_ {
  margin: 20px 0;
  font-size: 14px !important
}

.VideoEdit_editbox_1oBI_ {
  width: 564px;
  margin: 8px auto 20px
}

.VideoEdit_box2_1iY8i {
  width: 564px;
  height: 319px
}

.VideoEdit_tip_23CDY {
  margin: 6px 0 0;
  text-align: center;
  color: #939393;
  color: var(--w-sub)
}

.VideoEdit_file_2aoWb {
  display: none
}

.VideoEdit_loading_3cEIj {
  height: 319px;
  background: #3d4a57;
  font-size: 14px;
  color: #fff;
  color: var(--w-contrast)
}

.VideoEdit_list_LUZQe {
  margin: 14px 20px 0;
  padding: 14px 0 16px
}

.VideoEdit_lt_b1QfW {
  height: 20px
}

.VideoEdit_lt1_3CY5r {
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.VideoEdit_card2c_2FNsV {
  position: relative;
  height: 59px;
  margin: 8px -10px 0
}

.VideoEdit_card2cin_1C0N4 {
  overflow: hidden
}

.VideoEdit_card2a_2cu0t {
  width: 18px;
  height: 100%;
  border-radius: 2px;
  cursor: pointer
}

.VideoEdit_card2a_2cu0t:hover {
  background: #f2f2f2;
  background: var(--w-repost-background)
}

.VideoEdit_card2a_2cu0t i {
  font-weight: 700;
  color: #838383;
  color: var(--w-fonticon)
}

.VideoEdit_card2al_2lecF {
  margin-right: 4px
}

.VideoEdit_card2ar_qsHOk {
  margin-left: 4px
}

.VideoEdit_card2l_1Euy0 {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  padding: 1px 0
}

.VideoEdit_card2p_1tdo7 {
  position: relative;
  width: 104px;
  border-radius: 4px;
  border-radius: var(--w-border-radius);
  cursor: pointer
}

.VideoEdit_card2pcurr_10piR .woo-picture-cover {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 2px solid #ff8200;
  border: 2px solid var(--w-brand)
}

.VideoEdit_card2picon_3En7B {
  position: absolute;
  right: 2px;
  bottom: 2px;
  padding: 2px;
  background: #ff8200;
  background: var(--w-brand);
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  color: var(--w-contrast);
  -webkit-transform: scale(.875);
  transform: scale(.875)
}

.VideoEdit_op_qjrqE {
  background: transparent !important;
  cursor: not-allowed
}

.VideoEdit_op1_3G1ZD {
  -webkit-transition: all .7s ease 0s;
  transition: all .7s ease 0s
}

.VideoEdit_cus_35i36 {
  font-size: 20px;
  cursor: pointer
}

.VideoEdit_layer_4kJDr {
  width: 100% !important
}

.VideoEdit_bus_OWBYa {
  margin-top: -20px
}
