.AutoState_abox3_Wx9dO {
  padding: 50px 0
}

.AutoState_abox3_Wx9dO .AutoState_tit2_2G9np {
  margin: 20px 0 40px
}

.AutoState_gap2_9RdBL {
  margin-top: 20px
}

.AutoState_bg_lu55a {
  width: 218px;
  height: 179px;
  background: url(https://h5.sinaimg.cn/upload/100/1474/2023/09/11/bg_audio22.png) no-repeat;
  background-size: 100%
}

.AutoState_tit2_2G9np {
  line-height: 18px;
  font-size: 14px
}

.AutoState_tit2_2G9np span {
  margin-left: 4px;
  color: #e14123;
  color: var(--w-special)
}
