.Vteams_tab_16ePS {
  padding: 7px 20px;
  margin: 4px 0;
  border-radius: 18px;
  color: #333;
  color: var(--w-main)
}

.Vteams_tab_16ePS:hover {
  background-color: rgba(255, 130, 0, .1);
  background-color: var(--w-hover);
  color: #ff8200;
  color: var(--w-brand)
}

.Vteams_boxa_1kbUo {
  margin: 30px 40px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.Vteams_f1_3Xo1R {
  font-size: 72px
}

.Vteams_f2_3trDd {
  font-size: 48px
}

.Vteams_f16_1Jt2Q {
  font-size: 16px;
  line-height: 26px
}

.Vteams_fb_1eLn5 {
  font-weight: 700
}

.Vteams_cla_19LUZ {
  color: #ff8200
}

.Vteams_clb_2dgXl {
  color: #6dcc1b
}

.Vteams_clc_2cBEZ {
  color: #f0393e
}

.Vteams_cld_VTT7P {
  color: #ffbf00
}

.Vteams_bga_1y0U8 {
  background: #ff8200
}

.Vteams_bgb_3OJlu {
  background: #6dcc1b
}

.Vteams_bgc_3EhON {
  background: #f0393e
}

.Vteams_bgd_31Hwt {
  background: #ffbf00
}

.Vteams_bge_2CV7V {
  background: #ffa996
}

.Vteams_tc_1PZr4 {
  text-align: center
}

.Vteams_tr_2da8X {
  text-align: right
}

.Vteams_mara1_TUd7f {
  margin: 0 6px
}

.Vteams_mara2_3FV8v {
  margin: 0 6px 0 0
}

.Vteams_marb1_3-GYf {
  margin: 0 0 0 10px
}

.Vteams_marb2_2FPuO {
  margin: 0 10px
}

.Vteams_marb3_q7gt3 {
  margin: 0 10px 0 0
}

.Vteams_marb4_AvNPx {
  margin-left: 50px
}

.Vteams_line_1H2qU {
  margin: 40px 0
}

.Vteams_cut1_3is3R {
  overflow: hidden
}

.Vteams_wd1_1SHn4 {
  max-width: 130px
}

.Vteams_cut2_1lG21 {
  -webkit-line-clamp: 2
}

.Vteams_btn_3Wj_x {
  border-radius: 6px;
  border-color: #d9d9d9 !important
}

.Vteams_help_2AB20 {
  height: 16px;
  cursor: pointer
}

.Vteams_helppop1_1rFiL {
  width: 400px
}

.Vteams_icon2_3uXUL {
  font-size: 24px
}

.Vteams_card_3evi1 {
  margin: 30px 0 40px;
  border-radius: 6px
}

.Vteams_card_3evi1:last-child {
  margin-bottom: 0
}

.Vteams_tit_ysPXZ {
  height: 44px;
  padding: 0 30px;
  background: #f9f9f9;
  background: var(--w-dividing-line)
}

.Vteams_con_3oQJh {
  padding: 40px 30px
}

.Vteams_tit2_1HuOk {
  margin: 0 0 40px;
  text-align: center
}

.Vteams_data1_2vCRh {
  width: 160px;
  height: 160px;
  margin: 0 40px 0 0;
  background: red
}

.Vteams_dot_10R4V {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  overflow: hidden
}

.Vteams_boxb1_1aBOh>div {
  margin: 0 0 10px
}

.Vteams_boxb1_1aBOh>div:last-child {
  margin: 0
}

.Vteams_data2_Egilf {
  width: 110px;
  height: 110px;
  margin: 0 30px 0 0
}

.Vteams_pro_3Ej1r {
  width: 20px;
  height: 90px;
  border-radius: 2px;
  overflow: hidden
}

.Vteams_proin_1PZlI {
  height: 100%;
  -webkit-transform-origin: bottom;
  transform-origin: bottom
}

.Vteams_boxb2_1w1h2 {
  height: 50px;
  margin: 0 0 10px
}

.Vteams_rank1_2YEMg {
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 26px;
  height: 12px;
  margin-left: -13px;
  border-radius: 6px;
  line-height: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  color: var(--w-contrast)
}

.Vteams_rank2_IX47A {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 16px
}

.Vteams_boxb3_WAy9D {
  line-height: 14px;
  font-size: 14px
}

.Vteams_boxb3_WAy9D div:nth-child(2) {
  margin: 6px 0
}

.Vteams_boxb3_WAy9D div:nth-child(3) {
  color: #939393;
  color: var(--w-sub)
}

.Vteams_face_FYxBf {
  margin: 0 0 0 -10px;
  border: 2px solid #fff;
  z-index: 1
}

.Vteams_face_FYxBf:first-child {
  z-index: 3
}

.Vteams_face_FYxBf:nth-child(2) {
  z-index: 2
}

.Vteams_item_QCqBx {
  margin: 0 0 40px
}

.Vteams_item_QCqBx:last-child {
  margin: 0
}

.Vteams_retweet_1UP1F {
  margin: 10px 0 0;
  padding: 10px;
  background: #f9f9f9;
  background: var(--w-retweet-background);
  color: #939393;
  color: var(--w-sub)
}

.Vteams_video_1b_dY {
  width: 60px;
  height: 60px;
  margin: 0 10px 0 0
}

.Vteams_pos_p9ZKl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.Vteams_icon3_EbdCE {
  font-size: 21px;
  color: hsla(0, 0%, 100%, .88);
  text-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.Vteams_hots_10Xuh {
  width: 28px;
  height: 14px;
  margin: 0 0 0 6px;
  background: #ff8200;
  background: var(--w-brand);
  border-radius: 7px;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  color: var(--w-contrast)
}

.Vteams_hots_10Xuh span {
  display: block;
  -webkit-transform: scale(.75);
  transform: scale(.75)
}

.Vteams_table1_2VhXl {
  margin: 30px 0;
  border-collapse: collapse;
  border-spacing: 0
}

.Vteams_table1_2VhXl:last-child {
  margin-bottom: 0
}

.Vteams_table1_2VhXl td {
  min-width: 110px;
  padding: 8px 10px;
  border: 1px solid #f9f9f9;
  border: 1px solid var(--w-dividing-line);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  word-break: break-all
}

.Vteams_table2_1D3Ma td {
  min-width: 90px
}

.Vteams_wa1_DP9mU {
  width: 50px
}

.Vteams_wa2_2HdDN {
  width: 80px
}

.Vteams_wb1_5xKbY {
  width: 160px
}

.Vteams_wb2_1k2_5 {
  width: 270px
}

.Vteams_wc1_2SCSK {
  width: 480px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.Vteams_wc2_3fP6A {
  width: 250px
}

.Vteams_wc3_1uehu {
  width: 150px
}

.Vteams_wc4_2vm9- {
  width: 440px
}

.Vteams_wc5_2lbrD {
  width: 80px
}

.Vteams_wc6_25lOJ {
  width: 100px
}

.Vteams_wc7_1BudZ {
  width: 200px
}

.Vteams_wd2_3vpoe {
  width: 100%
}

.Vteams_wd3_VPAgM {
  width: 460px;
  text-align: left
}

.Vteams_wd4_2rlCU {
  width: 600px;
  text-align: left
}

.Vteams_wd5_2Agtv {
  width: 260px;
  text-align: left
}

.Vteams_boxc1_pOVqa {
  margin: 0 0 30px
}

.Vteams_boxc2_3uBoG {
  margin: -20px 0 40px
}

.Vteams_boxc3_rLsGv {
  padding: 0 20px
}

.Vteams_boxc3_rLsGv>div:nth-child(2) {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1
}

.Vteams_boxc4_2XYTx {
  margin: 20px 0 0;
  padding: 0 20px
}

.Vteams_hover1_3eNHg {
  padding: 10px;
  cursor: pointer
}

.Vteams_hover1_3eNHg:hover {
  background: #f2f2f2;
  background: var(--w-repost-background)
}

.Vteams_hover1_3eNHg:hover .Vteams_retweet_1UP1F:hover {
  background: #e6e8ee
}

.Vteams_posr_1I4C- {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.Vteams_text_2-Y50 {
  height: 80px;
  font-size: 24px;
  font-weight: 700;
  color: #ff8200;
  color: var(--w-brand);
  cursor: pointer
}

.Vteams_angle_WjKlG {
  margin-left: 10px;
  font-size: 16px
}

.Vteams_tit3_3-Of6 {
  margin: -10px 0 20px
}

.Vteams_data22out_134dE {
  width: 140px;
  height: 160px;
  margin: 0 80px 0 0
}

.Vteams_data22_12yX_ {
  height: 140px
}

.Vteams_marc1_14tF5 {
  margin-left: 100px
}

.Vteams_we1_12rhk {
  width: 450px
}

.Vteams_tag_12-A8 {
  height: 28px;
  margin: 0 30px 20px 0;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 28px;
  line-height: 28px;
  white-space: nowrap;
  font-size: 14px
}

.Vteams_tagbtn_gG2Ek {
  font-size: 16px;
  margin: 0 -4px 0 10px
}

.Vteams_tagadd_3q6EM {
  line-height: 0;
  vertical-align: top;
  font-size: 14px
}

.Vteams_tagadd_3q6EM i {
  padding: 7px
}

.Vteams_tagbox_3Z5sL {
  margin: 0 0 -20px
}

.Vteams_cle_1IzaO {
  color: #ffa996
}

.Vteams_scroll_BSQci {
  height: 352px;
  padding: 10px 20px;
  overflow: auto
}

.Vteams_listitem_3vYJZ {
  width: 100%;
  margin: 0 0 20px
}

.Vteams_listitem_3vYJZ:last-child {
  margin-bottom: 0
}

.Vteams_listh3_3Za9R {
  margin-top: 2px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.Vteams_listh4_ReuyG {
  line-height: 22px;
  font-size: 12px;
  color: #939393;
  color: var(--w-sub)
}

.Vteams_listh3_3Za9R+.Vteams_listh4_ReuyG {
  margin-top: 10px
}

.Vteams_bor1_1Ez8I {
  border-radius: 6px
}

.Vteams_table1_2VhXl td.Vteams_tl_3-JRH {
  text-align: left
}

.Vteams_wd6_2jgPR {
  width: 150px
}

.Vteams_marb5_2K9MI {
  margin-right: 30px
}

.Vteams_marb6_3LFR4 {
  margin-top: 10px
}

.Vteams_marb7_hqRBM {
  margin-top: 30px
}

.Vteams_pic_2JVP6 {
  width: 240px;
  margin: 20px 20px 0 0
}

.Kol_tab_3M1tc {
  padding: 7px 20px;
  margin: 4px 0;
  border-radius: 18px;
  color: #333;
  color: var(--w-main)
}

.Kol_tab_3M1tc:hover {
  background-color: rgba(255, 130, 0, .1);
  background-color: var(--w-hover);
  color: #ff8200;
  color: var(--w-brand)
}

.Kol_boxa_28yYQ {
  margin: 30px 40px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.Kol_f1_iZ1yw {
  font-size: 72px
}

.Kol_f2_277X5 {
  font-size: 48px
}

.Kol_f16_UEddr {
  font-size: 16px;
  line-height: 26px
}

.Kol_fb_2M1Z5 {
  font-weight: 700
}

.Kol_cla_2mCY2 {
  color: #ff8200
}

.Kol_clb_1vswS {
  color: #6dcc1b
}

.Kol_clc_trC6z {
  color: #f0393e
}

.Kol_cld_3oxyI {
  color: #ffbf00
}

.Kol_bga_Jo0n8 {
  background: #ff8200
}

.Kol_bgb_Vg1Fu {
  background: #6dcc1b
}

.Kol_bgc_2HbEl {
  background: #f0393e
}

.Kol_bgd_1FFee {
  background: #ffbf00
}

.Kol_bge_1_EUf {
  background: #ffa996
}

.Kol_tc_11kTd {
  text-align: center
}

.Kol_tr_2vJlO {
  text-align: right
}

.Kol_mara1_2ztHc {
  margin: 0 6px
}

.Kol_mara2_33A9y {
  margin: 0 6px 0 0
}

.Kol_marb1_1GhX0 {
  margin: 0 0 0 10px
}

.Kol_marb2_1VS27 {
  margin: 0 10px
}

.Kol_marb3_32EdA {
  margin: 0 10px 0 0
}

.Kol_marb4_1mz4X {
  margin-left: 50px
}

.Kol_line_2H8h4 {
  margin: 40px 0
}

.Kol_cut1_13EtO {
  overflow: hidden
}

.Kol_wd1_3oLMs {
  max-width: 130px
}

.Kol_cut2_2WwmO {
  -webkit-line-clamp: 2
}

.Kol_btn_Pl_Oa {
  border-radius: 6px;
  border-color: #d9d9d9 !important
}

.Kol_help_3eZH3 {
  height: 16px;
  cursor: pointer
}

.Kol_helppop1_1iMES {
  width: 400px
}

.Kol_icon2_nxxL1 {
  font-size: 24px
}

.Kol_card_3JdG4 {
  margin: 30px 0 40px;
  border-radius: 6px
}

.Kol_card_3JdG4:last-child {
  margin-bottom: 0
}

.Kol_tit_1k3yi {
  height: 44px;
  padding: 0 30px;
  background: #f9f9f9;
  background: var(--w-dividing-line)
}

.Kol_con_oX8sR {
  padding: 40px 30px
}

.Kol_tit2_1h3aw {
  margin: 0 0 40px;
  text-align: center
}

.Kol_data1_2r7sJ {
  width: 160px;
  height: 160px;
  margin: 0 40px 0 0;
  background: red
}

.Kol_dot_3OUrQ {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  overflow: hidden
}

.Kol_boxb1_K6url>div {
  margin: 0 0 10px
}

.Kol_boxb1_K6url>div:last-child {
  margin: 0
}

.Kol_data2__u0pu {
  width: 110px;
  height: 110px;
  margin: 0 30px 0 0
}

.Kol_pro_2Sbz9 {
  width: 20px;
  height: 90px;
  border-radius: 2px;
  overflow: hidden
}

.Kol_proin_2U5Qy {
  height: 100%;
  -webkit-transform-origin: bottom;
  transform-origin: bottom
}

.Kol_boxb2_1O90k {
  height: 50px;
  margin: 0 0 10px
}

.Kol_rank1_2PUtv {
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 26px;
  height: 12px;
  margin-left: -13px;
  border-radius: 6px;
  line-height: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  color: var(--w-contrast)
}

.Kol_rank2_3LoVq {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 16px
}

.Kol_boxb3_1RILb {
  line-height: 14px;
  font-size: 14px
}

.Kol_boxb3_1RILb div:nth-child(2) {
  margin: 6px 0
}

.Kol_boxb3_1RILb div:nth-child(3) {
  color: #939393;
  color: var(--w-sub)
}

.Kol_face_1tmiD {
  margin: 0 0 0 -10px;
  border: 2px solid #fff;
  z-index: 1
}

.Kol_face_1tmiD:first-child {
  z-index: 3
}

.Kol_face_1tmiD:nth-child(2) {
  z-index: 2
}

.Kol_item_1AHXD {
  margin: 0 0 40px
}

.Kol_item_1AHXD:last-child {
  margin: 0
}

.Kol_retweet_3GI8w {
  margin: 10px 0 0;
  padding: 10px;
  background: #f9f9f9;
  background: var(--w-retweet-background);
  color: #939393;
  color: var(--w-sub)
}

.Kol_video_2eH3V {
  width: 60px;
  height: 60px;
  margin: 0 10px 0 0
}

.Kol_pos_1_E_T {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.Kol_icon3_eNcBF {
  font-size: 21px;
  color: hsla(0, 0%, 100%, .88);
  text-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.Kol_hots_1oTeV {
  width: 28px;
  height: 14px;
  margin: 0 0 0 6px;
  background: #ff8200;
  background: var(--w-brand);
  border-radius: 7px;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  color: var(--w-contrast)
}

.Kol_hots_1oTeV span {
  display: block;
  -webkit-transform: scale(.75);
  transform: scale(.75)
}

.Kol_table1_3alpH {
  margin: 30px 0;
  border-collapse: collapse;
  border-spacing: 0
}

.Kol_table1_3alpH:last-child {
  margin-bottom: 0
}

.Kol_table1_3alpH td {
  min-width: 110px;
  padding: 8px 10px;
  border: 1px solid #f9f9f9;
  border: 1px solid var(--w-dividing-line);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  word-break: break-all
}

.Kol_table2_2fuCX td {
  min-width: 90px
}

.Kol_wa1_m5Hjn {
  width: 50px
}

.Kol_wa2_2XxpP {
  width: 80px
}

.Kol_wb1_3G0kr {
  width: 160px
}

.Kol_wb2_2Bf26 {
  width: 270px
}

.Kol_wc1_P_PL1 {
  width: 480px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.Kol_wc2_2pdNn {
  width: 250px
}

.Kol_wc3_2CVGS {
  width: 150px
}

.Kol_wc4_2kSzF {
  width: 440px
}

.Kol_wc5_2Ik9o {
  width: 80px
}

.Kol_wc6_3685C {
  width: 100px
}

.Kol_wc7_MaavN {
  width: 200px
}

.Kol_wd2_28fr0 {
  width: 100%
}

.Kol_wd3_lPwlY {
  width: 460px;
  text-align: left
}

.Kol_wd4_RABAJ {
  width: 600px;
  text-align: left
}

.Kol_wd5_158pb {
  width: 260px;
  text-align: left
}

.Kol_boxc1_QZnha {
  margin: 0 0 30px
}

.Kol_boxc2_3DWbm {
  margin: -20px 0 40px
}

.Kol_boxc3_3qSI0 {
  padding: 0 20px
}

.Kol_boxc3_3qSI0>div:nth-child(2) {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1
}

.Kol_boxc4_1PRiO {
  margin: 20px 0 0;
  padding: 0 20px
}

.Kol_hover1_1juEi {
  padding: 10px;
  cursor: pointer
}

.Kol_hover1_1juEi:hover {
  background: #f2f2f2;
  background: var(--w-repost-background)
}

.Kol_hover1_1juEi:hover .Kol_retweet_3GI8w:hover {
  background: #e6e8ee
}

.Kol_posr_2HxP7 {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.Kol_text_1gZJZ {
  height: 80px;
  font-size: 24px;
  font-weight: 700;
  color: #ff8200;
  color: var(--w-brand);
  cursor: pointer
}

.Kol_angle_1mOcU {
  margin-left: 10px;
  font-size: 16px
}

.Kol_tit3_1Wq3w {
  margin: -10px 0 20px
}

.Kol_data22out_5L7wf {
  width: 140px;
  height: 160px;
  margin: 0 80px 0 0
}

.Kol_data22_2iD3K {
  height: 140px
}

.Kol_marc1_2NPjD {
  margin-left: 100px
}

.Kol_we1_2etZk {
  width: 450px
}

.Kol_tag_1pImC {
  height: 28px;
  margin: 0 30px 20px 0;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 28px;
  line-height: 28px;
  white-space: nowrap;
  font-size: 14px
}

.Kol_tagbtn_2Yt-V {
  font-size: 16px;
  margin: 0 -4px 0 10px
}

.Kol_tagadd_2lilO {
  line-height: 0;
  vertical-align: top;
  font-size: 14px
}

.Kol_tagadd_2lilO i {
  padding: 7px
}

.Kol_tagbox_RslXc {
  margin: 0 0 -20px
}

.Kol_cle_mIlxm {
  color: #ffa996
}

.Kol_scroll_iNa0H {
  height: 352px;
  padding: 10px 20px;
  overflow: auto
}

.Kol_listitem_3Sz8_ {
  width: 100%;
  margin: 0 0 20px
}

.Kol_listitem_3Sz8_:last-child {
  margin-bottom: 0
}

.Kol_listh3_KuSGj {
  margin-top: 2px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.Kol_listh4_Kp-B- {
  line-height: 22px;
  font-size: 12px;
  color: #939393;
  color: var(--w-sub)
}

.Kol_listh3_KuSGj+.Kol_listh4_Kp-B- {
  margin-top: 10px
}

.Kol_bor1_2rViX {
  border-radius: 6px
}

.Kol_table1_3alpH td.Kol_tl_1e3Qi {
  text-align: left
}

.Kol_wd6_1O160 {
  width: 150px
}

.Kol_marb5_3vy2R {
  margin-right: 30px
}

.Kol_marb6_yfqe7 {
  margin-top: 10px
}

.Kol_marb7_3kW6G {
  margin-top: 30px
}

.Kol_pic_U2pc6 {
  width: 240px;
  margin: 20px 20px 0 0
}

.MvSelector_height_3mDAn {
  height: 80px
}

.MvSelector_text_Hp8he {
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #ff8200;
  color: var(--w-brand);
  cursor: pointer
}

.MvSelector_angle_1gkUn {
  margin-left: 10px;
  font-size: 16px
}

.MvSelector_menu_cX17I {
  max-height: 220px;
  overflow-y: auto
}

.Marketing_posr_3O1QV {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.Marketing_text_L0f4D {
  height: 80px;
  font-size: 24px;
  font-weight: 700;
  color: #ff8200;
  color: var(--w-brand);
  cursor: pointer
}

.Marketing_angle_2lIeL {
  margin-left: 10px;
  font-size: 16px
}

.Marketing_tit3_jnap2 {
  margin: -10px 0 20px
}

.Marketing_btn_3Nu4B {
  border-radius: 6px;
  border-color: #d9d9d9 !important
}
