.wbpro-mng-main .tab {
  padding: 7px 20px;
  margin: 4px 0;
  border-radius: 18px;
  color: #333;
  color: var(--w-main)
}

.wbpro-mng-main .tab:hover {
  background-color: rgba(255, 130, 0, .1);
  background-color: var(--w-hover);
  color: #ff8200;
  color: var(--w-brand)
}

.wbpro-mng-main .boxa {
  margin: 30px 40px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.wbpro-mng-main .f1 {
  font-size: 72px
}

.wbpro-mng-main .f2 {
  font-size: 48px
}

.wbpro-mng-main .f16 {
  font-size: 16px;
  line-height: 26px
}

.wbpro-mng-main .fb {
  font-weight: 700
}

.wbpro-mng-main .cla {
  color: #ff8200
}

.wbpro-mng-main .clb {
  color: #6dcc1b
}

.wbpro-mng-main .clc {
  color: #f0393e
}

.wbpro-mng-main .cld {
  color: #ffbf00
}

.wbpro-mng-main .bga {
  background: #ff8200
}

.wbpro-mng-main .bgb {
  background: #6dcc1b
}

.wbpro-mng-main .bgc {
  background: #f0393e
}

.wbpro-mng-main .bgd {
  background: #ffbf00
}

.wbpro-mng-main .bge {
  background: #ffa996
}

.wbpro-mng-main .tc {
  text-align: center
}

.wbpro-mng-main .tr {
  text-align: right
}

.wbpro-mng-main .mara1 {
  margin: 0 6px
}

.wbpro-mng-main .mara2 {
  margin: 0 6px 0 0
}

.wbpro-mng-main .marb1 {
  margin: 0 0 0 10px
}

.wbpro-mng-main .marb2 {
  margin: 0 10px
}

.wbpro-mng-main .marb3 {
  margin: 0 10px 0 0
}

.wbpro-mng-main .marb4 {
  margin-left: 50px
}

.wbpro-mng-main .mard1 {
  margin-right: 20px
}

.wbpro-mng-main .mard2 {
  margin-left: 20px
}

.wbpro-mng-main .line {
  margin: 40px 0
}

.wbpro-mng-main .cut1 {
  overflow: hidden
}

.wbpro-mng-main .wd1 {
  max-width: 130px
}

.wbpro-mng-main .cut2 {
  -webkit-line-clamp: 2
}

.wbpro-mng-main .btn {
  border-radius: 6px;
  border-color: #d9d9d9 !important
}

.wbpro-mng-main .help {
  height: 16px;
  cursor: pointer;
  padding: 10px 10px 10px 0
}

.wbpro-mng-main .helppop1 {
  width: 400px
}

.wbpro-mng-main .helppop2 {
  width: 380px
}

.wbpro-mng-main .icon2 {
  font-size: 24px
}

.wbpro-mng-main .card {
  margin: 30px 0 40px;
  border-radius: 6px
}

.wbpro-mng-main .card:last-child {
  margin-bottom: 0
}

.wbpro-mng-main .tit {
  height: 44px;
  padding: 0 30px
}

.wbpro-mng-main .subtit,
.wbpro-mng-main .tit {
  background: #f9f9f9;
  background: var(--w-dividing-line)
}

.wbpro-mng-main .subtit {
  margin: -10px 0 0;
  padding: 0 30px 10px;
  color: #939393;
  color: var(--w-sub)
}

.wbpro-mng-main .con {
  padding: 40px 30px
}

.wbpro-mng-main .tit2 {
  margin: 0 0 40px;
  text-align: center
}

.wbpro-mng-main .data1 {
  width: 160px;
  height: 160px;
  margin: 0 40px 0 0;
  background: red
}

.wbpro-mng-main .dot {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  overflow: hidden
}

.wbpro-mng-main .boxb1>div {
  margin: 0 0 10px
}

.wbpro-mng-main .boxb1>div:last-child {
  margin: 0
}

.wbpro-mng-main .data2 {
  width: 110px;
  height: 110px;
  margin: 0 30px 0 0
}

.wbpro-mng-main .pro {
  width: 20px;
  height: 90px;
  border-radius: 2px;
  overflow: hidden
}

.wbpro-mng-main .proin {
  height: 100%;
  -webkit-transform-origin: bottom;
  transform-origin: bottom
}

.wbpro-mng-main .boxb2 {
  height: 50px;
  margin: 0 0 10px
}

.wbpro-mng-main .rank1 {
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 26px;
  height: 12px;
  margin-left: -13px;
  border-radius: 6px;
  line-height: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  color: var(--w-contrast)
}

.wbpro-mng-main .rank2 {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 16px
}

.wbpro-mng-main .boxb3 {
  line-height: 14px;
  font-size: 14px
}

.wbpro-mng-main .boxb3 div:nth-child(2) {
  margin: 6px 0
}

.wbpro-mng-main .boxb3 div:nth-child(3) {
  color: #939393;
  color: var(--w-sub)
}

.wbpro-mng-main .face {
  margin: 0 0 0 -10px;
  border: 2px solid #fff;
  z-index: 1
}

.wbpro-mng-main .face:first-child {
  z-index: 3
}

.wbpro-mng-main .face:nth-child(2) {
  z-index: 2
}

.wbpro-mng-main .item {
  margin: 0 0 40px
}

.wbpro-mng-main .item:last-child {
  margin: 0
}

.wbpro-mng-main .retweet {
  margin: 10px 0 0;
  padding: 10px;
  background: #f9f9f9;
  background: var(--w-retweet-background);
  color: #939393;
  color: var(--w-sub)
}

.wbpro-mng-main .video {
  width: 60px;
  height: 60px;
  margin: 0 10px 0 0
}

.wbpro-mng-main .pos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.wbpro-mng-main .icon3 {
  font-size: 21px;
  color: hsla(0, 0%, 100%, .88);
  text-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.wbpro-mng-main .hots {
  width: 28px;
  height: 14px;
  margin: 0 0 0 6px;
  background: #ff8200;
  background: var(--w-brand);
  border-radius: 7px;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  color: var(--w-contrast)
}

.wbpro-mng-main .hots span {
  display: block;
  -webkit-transform: scale(.75);
  transform: scale(.75)
}

.wbpro-mng-main .table1 {
  margin: 30px 0;
  border-collapse: collapse;
  border-spacing: 0
}

.wbpro-mng-main .table1:last-child {
  margin-bottom: 0
}

.wbpro-mng-main .table1 td {
  min-width: 110px;
  padding: 8px 10px;
  border: 1px solid #f9f9f9;
  border: 1px solid var(--w-dividing-line);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  word-break: break-all
}

.wbpro-mng-main .table2 td {
  min-width: 90px
}

.wbpro-mng-main .wa1 {
  width: 50px
}

.wbpro-mng-main .wa2 {
  width: 80px
}

.wbpro-mng-main .wb1 {
  width: 160px
}

.wbpro-mng-main .wb2 {
  width: 270px
}

.wbpro-mng-main .wc1 {
  width: 480px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.wbpro-mng-main .wc2 {
  width: 250px
}

.wbpro-mng-main .wc3 {
  width: 150px
}

.wbpro-mng-main .wc4 {
  width: 440px
}

.wbpro-mng-main .wc5 {
  width: 80px
}

.wbpro-mng-main .wc6 {
  width: 100px
}

.wbpro-mng-main .wc7 {
  width: 200px
}

.wbpro-mng-main .wd2 {
  width: 100%
}

.wbpro-mng-main .wd3 {
  width: 460px;
  text-align: left
}

.wbpro-mng-main .wd4 {
  width: 600px;
  text-align: left
}

.wbpro-mng-main .wd5 {
  width: 260px;
  text-align: left
}

.wbpro-mng-main .boxc1 {
  margin: 0 0 30px
}

.wbpro-mng-main .boxc2 {
  margin: -20px 0 40px
}

.wbpro-mng-main .boxc3 {
  padding: 0 20px
}

.wbpro-mng-main .boxc3>div:nth-child(2) {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1
}

.wbpro-mng-main .boxc4 {
  margin: 20px 0 0;
  padding: 0 20px
}

.wbpro-mng-main .hover1 {
  padding: 10px;
  cursor: pointer
}

.wbpro-mng-main .hover1:hover {
  background: #f2f2f2;
  background: var(--w-repost-background)
}

.wbpro-mng-main .hover1:hover .retweet:hover {
  background: #e6e8ee
}

.wbpro-mng-main .tit3 {
  margin: -10px 0 20px
}

.wbpro-mng-main .data22out {
  width: 140px;
  height: 160px;
  margin: 0 80px 0 0
}

.wbpro-mng-main .data22 {
  height: 140px
}

.wbpro-mng-main .marc1 {
  margin-left: 100px
}

.wbpro-mng-main .we1 {
  width: 450px
}

.wbpro-mng-main .tag {
  height: 28px;
  margin: 0 30px 20px 0;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 28px;
  line-height: 28px;
  white-space: nowrap;
  font-size: 14px
}

.wbpro-mng-main .tagbtn {
  font-size: 16px;
  margin: 0 -4px 0 10px
}

.wbpro-mng-main .tagadd {
  line-height: 0;
  vertical-align: top;
  font-size: 14px
}

.wbpro-mng-main .tagadd i {
  padding: 7px
}

.wbpro-mng-main .tagbox {
  margin: 0 0 -20px
}

.wbpro-mng-main .cle {
  color: #ffa996
}

.wbpro-mng-main .scroll {
  height: 352px;
  padding: 10px 20px;
  overflow: auto
}

.wbpro-mng-main .listitem {
  width: 100%;
  margin: 0 0 20px
}

.wbpro-mng-main .listitem:last-child {
  margin-bottom: 0
}

.wbpro-mng-main .listh3 {
  margin-top: 2px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.wbpro-mng-main .listh4 {
  line-height: 22px;
  font-size: 12px;
  color: #939393;
  color: var(--w-sub)
}

.wbpro-mng-main .listh3+.listh4 {
  margin-top: 10px
}

.wbpro-mng-main .bor1 {
  border-radius: 6px
}

.wbpro-mng-main .table1 td.tl {
  text-align: left
}

.wbpro-mng-main .wd6 {
  width: 150px
}

.wbpro-mng-main .marb5 {
  margin-right: 30px
}

.wbpro-mng-main .marb6 {
  margin-top: 10px
}

.wbpro-mng-main .marb7 {
  margin-top: 30px
}

.wbpro-mng-main .marb8 {
  margin-top: 20px
}

.wbpro-mng-main .pic {
  width: 240px;
  margin: 20px 20px 0 0
}

.wbpro-mng-main .list2 {
  width: 90px;
  margin: 0 10px 20px 0
}

.wbpro-mng-main .text2 {
  margin-top: 4px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  color: #939393;
  color: var(--w-sub)
}

.wbpro-mng-main .close {
  position: absolute;
  top: 0;
  right: 0;
  background: #ccc;
  z-index: 9;
  z-index: var(--w-index-flow);
  font-size: 18px
}

.wbpro-mng-main .close:hover {
  background: #fff2e5
}

.wbpro-mng-main .we1 {
  width: 100%
}

.wbpro-mng-main .layer1 {
  padding: 20px 20px 0
}

.wbpro-mng-main .pop1 {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%
}

.wbpro-mng-main .fileUpload-box,
.wbpro-mng-main .pop1>div {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.wbpro-mng-main .fileUpload-box {
  position: absolute;
  height: 100%;
  border: 2px solid;
  border-radius: inherit;
  overflow: hidden;
  cursor: pointer;
  color: #ccc;
  color: var(--w-disabled)
}

.wbpro-mng-main .fileUpload-icon {
  font-size: 24px
}

.wbpro-mng-main .fileUpload-box:active,
.wbpro-mng-main .fileUpload-box:hover {
  color: #ff8200;
  color: var(--w-brand)
}

.BaseInfo_dragbox_2fF1C {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.BaseInfo_avtHover_1gzgN {
  cursor: pointer
}

.BaseInfo_boxt11_1wbry {
  width: 130px;
  height: 50px;
  margin: 0 0 50px
}

.BaseInfo_boxt12_27Oey {
  width: 100%;
  height: 200px
}

.BaseInfo_sel1_1cNDl {
  width: 150px
}

.BaseInfo_layer1_3m6Ca {
  height: 285px
}

.BaseInfo_menu1_1opYT {
  max-height: 250px;
  overflow-y: auto
}

.BaseInfo_item1_gvQZ2 {
  padding-top: 10px;
  padding-bottom: 10px
}

.BaseInfo_item12_1-XyX {
  cursor: default;
  color: #939393;
  color: var(--w-sub)
}

.BaseInfo_item12_1-XyX:hover {
  background: transparent
}

.BaseInfo_scroll_36SyJ {
  max-height: 220px;
  overflow-y: auto
}

.BaseInfo_item2_12Iki {
  width: 100px !important
}

.BaseInfo_tips_2BPGM {
  font-size: 12px;
  color: #939393;
  color: var(--w-sub);
  margin-left: 10px
}

.CoverInfo_boxt2_2vLZn {
  position: relative;
  border-radius: 6px;
  overflow: hidden
}

.CoverInfo_subTitle_3myJ6 {
  width: 110px
}

.CoverInfo_boxt21_2sfLt {
  width: 150px;
  height: 200px
}

.CoverInfo_boxt22_32mPb {
  width: 150px;
  height: 150px
}

.CoverInfo_boxt23_m2824 {
  width: 460px;
  height: 150px
}

.CoverInfo_boxt23_m2824 input {
  font-size: 150px
}

.CoverInfo_play2_3SH8_ {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
  color: var(--w-contrast);
  text-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.CoverInfo_scroll2_1dAZ2 {
  padding: 20px 20px 0
}

.CoverInfo_tip_v_AVd {
  height: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.CoverInfo_boxt25_2pBqS {
  width: 320px;
  height: 180px
}

.CoverInfo_pic3_h7tMk div:last-child i {
  font-size: 20px
}

.CoverInfo_form1_2Vjnr {
  margin: 20px 0 0;
  font-size: 14px
}

.CoverInfo_we2_1CCuc {
  width: 70px
}

.CoverInfo_spc1_2qKTC {
  color: #eb7350;
  color: var(--w-alink)
}

.TopicSearch_boxt3out_373o3 {
  margin-right: -80px
}

.TopicSearch_boxt3_2bKHN {
  margin: 30px 80px 0 0
}

.TopicSearch_close2_rlv4d {
  margin: 0 0 0 10px;
  font-size: 18px
}

.TopicSearch_textt3_1seuF {
  margin: 6px 0 0;
  line-height: 16px;
  font-size: 12px
}

.TopicSearch_textt31_2lfkb {
  color: #939393;
  color: var(--w-sub)
}

.TopicSearch_textt32_3qflN {
  color: #ff8200;
  color: var(--w-brand)
}

.TopicSearch_tips_1znVZ {
  font-size: 12px;
  color: #939393;
  color: var(--w-sub);
  margin-left: 10px
}

.VedioStore_boxt2_1MKQk {
  position: relative;
  border-radius: 6px;
  overflow: hidden
}

.VedioStore_boxt24_1VpPo {
  width: 213px;
  height: 120px
}

.VedioStore_play2_A8N96 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
  color: var(--w-contrast);
  text-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.VedioStore_pic2_3Bqv9 div:last-child i {
  font-size: 18px
}

.VedioStore_tip_12svm {
  height: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.VedioStore_boxt25_2HwWd {
  width: 320px;
  height: 180px
}

.VedioStore_pic3_aLAnW div:last-child i {
  font-size: 20px
}

.VedioStore_form1_3Ijj3 {
  margin: 20px 0 0;
  font-size: 14px
}

.VedioStore_we2_3EIUb {
  width: 70px
}

.VedioStore_spc1_2eSlO {
  color: #eb7350;
  color: var(--w-alink)
}

.VedioStore_spc2_2I4m0 {
  color: #e14123;
  color: var(--w-special)
}

.VedioStore_sel2_2Qx5y {
  width: 120px
}

.MvSelector_height_3mDAn {
  height: 80px
}

.MvSelector_text_Hp8he {
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #ff8200;
  color: var(--w-brand);
  cursor: pointer
}

.MvSelector_angle_1gkUn {
  margin-left: 10px;
  font-size: 16px
}

.MvSelector_menu_cX17I {
  max-height: 220px;
  overflow-y: auto
}

.MvInfoMng_tab2_f8bPd {
  padding-left: 36px !important;
  padding-right: 36px !important
}
