.VideoUpload_cut_H7ps6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.VideoUpload_box1_1lWni {
  padding: 10px 0
}

.VideoUpload_btn1_2avmO {
  width: 142px
}

.VideoUpload_box2_1bjDZ {
  width: 300px
}

.VideoUpload_box21_BZc6S {
  width: 800px
}

.VideoUpload_box2t_1CdyX {
  position: relative;
  margin: 4px 0 6px;
  border-radius: 4px;
  border-radius: var(--w-border-radius);
  overflow: hidden;
  line-height: 0
}

.VideoUpload_box2t1_1j7-Q {
  width: 300px;
  height: 169px
}

.VideoUpload_box2t2_3khYD {
  width: 174px;
  height: 232px
}

.VideoUpload_box2b_1voLe {
  height: 16px;
  font-size: 12px;
  color: #939393;
  color: var(--w-sub)
}

.VideoUpload_cutout_2jRfZ {
  margin: 0 20px;
  overflow: hidden
}

.VideoUpload_fontable_1FvW6 {
  cursor: pointer
}

.VideoUpload_abox2_31mcs {
  height: 416px;
  border: 1px dashed #ccc;
  border: 1px dashed var(--w-disabled)
}

.VideoUpload_abox2_31mcs .VideoUpload_tit2_I4thc {
  margin: 17px 0 49px
}

.VideoUpload_abox2audio_Wa7ZY {
  height: 308px
}

.VideoUpload_abox2audio_Wa7ZY .VideoUpload_tit2_I4thc {
  margin: 39px 0 29px
}

.VideoUpload_abox3_3bTDv {
  border-color: #ff8200;
  border-color: var(--w-brand)
}

.VideoUpload_gap2_1h6PT {
  margin-top: 20px
}

.VideoUpload_icon2_2TbAq {
  font-size: 40px;
  color: #939393;
  color: var(--w-sub)
}

.VideoUpload_tit2_I4thc {
  line-height: 18px;
  font-size: 14px
}

.VideoUpload_abox4_1406j {
  height: 16px;
  line-height: 16px;
  font-size: 12px
}

.VideoUpload_bar_P3iY3 {
  height: 8px;
  margin: 10px 0 8px;
  background: #ccc;
  background: var(--w-disabled);
  border-radius: 4px;
  border-radius: var(--w-border-radius);
  overflow: hidden
}

.VideoUpload_pro_2hpak {
  height: 100%;
  background: #ff8200;
  background: var(--w-brand);
  border-radius: inherit;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear
}

.VideoUpload_info_3PQH8 {
  text-align: right
}

.VideoUpload_v_plus_1_P79 {
  color: #838383;
  color: var(--w-color-gray-3);
  margin-right: 18px
}

.VideoUpload_info_3PQH8 a {
  color: #333;
  color: var(--w-main);
  cursor: pointer
}

.VideoUpload_info_3PQH8 a:hover {
  color: #ff8200;
  color: var(--w-brand);
  text-decoration: none
}

.VideoUpload_info_3PQH8 a+a {
  margin-left: 20px
}

.VideoUpload_a4s1_1MTOn {
  width: 16px;
  margin-right: 4px;
  text-align: center
}

.VideoUpload_a4s11_3e5kp {
  font-size: 16px
}

.VideoUpload_a4s12_2J8zQ {
  color: #ff8200;
  color: var(--w-brand)
}

.VideoUpload_a4s13__qVKl {
  font-weight: 700 !important;
  color: #8cd232
}

.VideoUpload_a4s14_1DCEU {
  color: #ff5900;
  color: var(--w-brand-hover)
}

.VideoUpload_a4s2_3mRaR {
  margin-left: 22px;
  color: #939393;
  color: var(--w-sub)
}

.VideoUpload_um_video_3s7DQ {
  margin-top: 20px
}

.VideoUpload_um_video_1_8curF {
  margin-top: 8px
}

.VideoUpload_report_1r_EB {
  vertical-align: -2px
}

.VideoUpload_pay_2QTb4 {
  cursor: not-allowed !important
}

.VideoUpload_pay_2QTb4,
.VideoUpload_pay_2QTb4:hover {
  color: #939393 !important;
  color: var(--w-sub) !important
}
