.AudioDetail_tit1_8TvwT {
  line-height: 20px;
  font-size: 16px;
  font-weight: 700
}

.AudioDetail_tit1_8TvwT span {
  margin-left: 4px;
  color: #e14123;
  color: var(--w-special)
}

.AudioDetail_gap2_2eLtX {
  margin-top: 20px
}

.AudioDetail_box1_3CNXd {
  margin: 10px 0
}
