.AudioTip_tip_2vZ7k {
  padding: 8px 20px;
  background: rgba(255, 130, 0, .1);
  background: var(--w-hover);
  border-radius: 2px;
  line-height: 20px;
  font-size: 12px;
  color: #ff8200;
  color: var(--w-brand)
}

.AudioTip_tip_2vZ7k a {
  color: var(--w-link-blue);
  cursor: pointer
}
