.echarts {
  width: 100%;
  height: 100%
}

.MTopData_boxa_3h2hU {
  margin: 30px 40px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.MTopData_f1_1sSYj {
  font-size: 72px
}

.MTopData_f2_2mLG9 {
  font-size: 48px
}

.MTopData_f16_1LaP_ {
  font-size: 16px;
  line-height: 26px
}

.MTopData_fb_1kuhy {
  font-weight: 700
}

.MTopData_cla_2NDB2 {
  color: #ff8200
}

.MTopData_clb_3IHao {
  color: #6dcc1b
}

.MTopData_clc_387cQ {
  color: #f0393e
}

.MTopData_cld_6hjxP {
  color: #ffbf00
}

.MTopData_bga_c_Yqx {
  background: #ff8200
}

.MTopData_bgb_qPan_ {
  background: #6dcc1b
}

.MTopData_bgc_2XbkJ {
  background: #f0393e
}

.MTopData_bgd_3uUzz {
  background: #ffbf00
}

.MTopData_bge_119_a {
  background: #ffa996
}

.MTopData_tc_3ELbX {
  text-align: center
}

.MTopData_tr_1m0jX {
  text-align: right
}

.MTopData_mara1_Zwfse {
  margin: 0 6px
}

.MTopData_mara2_3P0aN {
  margin: 0 6px 0 0
}

.MTopData_marb1_3P526 {
  margin: 0 0 0 10px
}

.MTopData_marb2_2WgYo {
  margin: 0 10px
}

.MTopData_marb3_3YJbX {
  margin: 0 10px 0 0
}

.MTopData_marb4_3duSB {
  margin-left: 50px
}

.MTopData_tab_FHFd9 {
  padding: 7px 20px;
  margin: 4px 0;
  border-radius: 18px;
  color: #333;
  color: var(--w-main)
}

.MTopData_tab_FHFd9:hover {
  background-color: rgba(255, 130, 0, .1);
  background-color: var(--w-hover);
  color: #ff8200;
  color: var(--w-brand)
}

.MTopData_line_34Nkn {
  margin: 40px 0
}

.MTopData_cut1_1x-Pe {
  overflow: hidden
}

.MTopData_wd1_oTZ3E {
  max-width: 130px
}

.MTopData_cut2_umJgF {
  -webkit-line-clamp: 2
}

.MTopData_btn_1QBAf {
  border-radius: 6px;
  border-color: #d9d9d9 !important
}

.MTopData_card_4D-N3 {
  margin: 30px 0 40px;
  border-radius: 6px
}

.MTopData_card_4D-N3:last-child {
  margin-bottom: 0
}

.MTopData_tit_2ai8h {
  height: 44px;
  padding: 0 30px;
  background: #f9f9f9;
  background: var(--w-dividing-line)
}

.MTopData_wc1_3iPVa {
  width: 480px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.MTopData_wc2_1-mQz {
  width: 250px
}

.MTopData_wc3_3vX9M {
  width: 150px
}

.MTopData_wc4_1IOTN {
  width: 440px
}

.MTopData_wc5_1JyOd {
  width: 80px
}

.MTopData_wc6_1ElDf {
  width: 100px
}

.MTopData_wc7_QWqhL {
  width: 200px
}

.MTopData_wd2_na5gH {
  width: 100%
}

.MTopData_wd3_37ZSG {
  width: 460px;
  text-align: left
}

.MTopData_wd4_xYemk {
  width: 600px;
  text-align: left
}

.MTopData_wd5_1aw9f {
  width: 260px;
  text-align: left
}

.MTopData_boxc1_3D30i {
  margin: 0 0 30px
}

.MTopData_boxc2_2CgcA {
  margin: -20px 0 40px
}

.MTopData_boxc3_1Koxa {
  padding: 0 20px
}

.MTopData_boxc3_1Koxa>div:nth-child(2) {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1
}

.MTopData_boxc4_oqmYa {
  margin: 20px 0 0;
  padding: 0 20px
}

.MTopData_hover1_Ifu3E {
  padding: 10px;
  cursor: pointer;
  min-width: 0
}

.MTopData_hover1_Ifu3E:hover {
  background: #f2f2f2;
  background: var(--w-repost-background)
}

.MTopData_hover1_Ifu3E:hover .MTopData_retweet_1KRlq:hover {
  background: #e6e8ee
}

.MTopData_retweet_1KRlq {
  margin: 10px 0 0;
  padding: 10px;
  background: #f9f9f9;
  background: var(--w-retweet-background);
  color: #939393;
  color: var(--w-sub)
}

.MTopData_con_3pKbn {
  padding: 40px 30px
}

.MTopData_table1_11rdq {
  margin: 30px 0;
  border-collapse: collapse;
  border-spacing: 0
}

.MTopData_table1_11rdq:last-child {
  margin-bottom: 0
}

.MTopData_table1_11rdq td {
  min-width: 110px;
  padding: 8px 10px;
  border: 1px solid #f9f9f9;
  border: 1px solid var(--w-dividing-line);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center
}

.MTopData_table2_1TkhZ td {
  min-width: 90px
}

.MTopData_help_1xJ0I {
  height: 16px;
  cursor: pointer;
  padding: 10px 10px 10px 0
}

.MTopData_helppop1_1zqD- {
  width: 400px
}

.MTopData_helppop1_1zqD->p>div>span {
  display: block
}

.MTopData_helppop1_1zqD->p>div>p {
  margin: 0
}

.MTopData_helppop1_1zqD->p>div>p>a {
  display: block
}

.MTopData_item_1BYPa {
  margin: 0 0 40px
}

.MTopData_echartsBox_344B5 {
  width: 100%;
  height: 400px
}

.MTopData_disNone_15K38 {
  display: none
}

.MTopData_weiboBox_38qHf .MTopData_item_1BYPa>div.MTopData_titleName_279Cd {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  text-align: center
}

.MTopData_discuss_1tQ_U .MTopData_item_1BYPa>div.MTopData_titleName_279Cd:first-child,
.MTopData_officialvideo_2_INu .MTopData_item_1BYPa>div.MTopData_titleName_279Cd:first-child,
.MTopData_read_2_OO0 .MTopData_item_1BYPa>div.MTopData_titleName_279Cd:first-child,
.MTopData_video_1oFh3 .MTopData_item_1BYPa>div.MTopData_titleName_279Cd:first-child {
  width: 480px
}

.MTopData_discuss_1tQ_U .MTopData_item_1BYPa>div.MTopData_titleName_279Cd:nth-child(2),
.MTopData_officialvideo_2_INu .MTopData_item_1BYPa>div.MTopData_titleName_279Cd:nth-child(2),
.MTopData_read_2_OO0 .MTopData_item_1BYPa>div.MTopData_titleName_279Cd:nth-child(2),
.MTopData_search_1gTau .MTopData_item_1BYPa>div.MTopData_titleName_279Cd:first-child,
.MTopData_topic_1LxRl .MTopData_item_1BYPa>div.MTopData_titleName_279Cd:first-child,
.MTopData_video_1oFh3 .MTopData_item_1BYPa>div.MTopData_titleName_279Cd:nth-child(2) {
  width: 440px
}

.MTopData_search_1gTau .MTopData_item_1BYPa>div.MTopData_titleName_279Cd:nth-child(2),
.MTopData_topic_1LxRl .MTopData_item_1BYPa>div:nth-child(2),
.MTopData_topic_1LxRl .MTopData_item_1BYPa>div:nth-child(3),
.MTopData_topic_1LxRl .MTopData_item_1BYPa>div:nth-child(4) {
  width: 200px
}

.MTopData_selBox_2bnI3 {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1
}

.MTopData_select_3ID-n {
  position: relative
}

.MTopData_select_3ID-n span.MTopData_mSel_UyMQH {
  margin-left: 0
}

.MTopData_mSel_UyMQH {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.MTopData_mSel_UyMQH>input {
  background: transparent;
  border: 0 none;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 32px;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px
}

.MTopData_mSel_UyMQH>input:hover {
  cursor: pointer
}

.MTopData_mSel_UyMQH>input:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}

.MTopData_posOpt_k60qy {
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.MTopData_moreBtn_1s0QI:hover {
  cursor: pointer;
  color: #ff8200
}

.MTopData_weiboWrapBox_3xbBi {
  width: 100%
}

.MTopData_noData_3byk4 {
  text-align: center;
  color: #939393;
  color: var(--w-sub);
  font-size: 14px;
  padding: 10px 0
}

.MTopData_tableBox_2Hj6C {
  margin-top: -20px;
  color: #939393;
  color: var(--w-sub);
  font-size: 14px
}

.MTopData_videoBox_ubNti {
  width: 60px;
  height: 60px;
  margin: 0 10px 0 0
}

.MTopData_pos_iw3n4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.MTopData_icon3_o-kv1 {
  font-size: 21px;
  color: hsla(0, 0%, 100%, .88);
  text-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.MTopData_subtit_2fTG5 {
  margin: -10px 0 0;
  padding: 0 30px 10px;
  background: #f9f9f9;
  background: var(--w-dividing-line);
  color: #939393;
  color: var(--w-sub)
}

.Yesterday_boxa_3nUfE {
  margin: 30px 40px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.Yesterday_card_2jnie {
  margin: 30px 0 40px;
  border-radius: 6px
}

.Yesterday_card_2jnie:last-child {
  margin-bottom: 0
}

.Yesterday_tit_2m-oY {
  height: 44px;
  padding: 0 30px
}

.Yesterday_subtit_Aq-RM,
.Yesterday_tit_2m-oY {
  background: #f9f9f9;
  background: var(--w-dividing-line)
}

.Yesterday_subtit_Aq-RM {
  margin: -10px 0 0;
  padding: 0 30px 10px;
  color: #939393;
  color: var(--w-sub)
}

.Yesterday_con_2bLm2 {
  padding: 40px 30px
}

.Yesterday_f1_3ry71 {
  font-size: 72px
}

.Yesterday_f2_2QSnI {
  font-size: 48px
}

.Yesterday_f16_2b8zx {
  font-size: 16px;
  line-height: 26px
}

.Yesterday_fb_2VzCb {
  font-weight: 700
}

.Yesterday_cla_1oYVr {
  color: #ff8200;
  color: var(--w-brand)
}

.Yesterday_clb_zUAYD {
  color: #6dcc1b
}

.Yesterday_mara1_3ubmU {
  margin: 0 6px
}

.Yesterday_icon2_Jg08M {
  font-size: 24px
}

.Yesterday_line_3p25V {
  margin: 40px 0
}

.Yesterday_noData_2iZpL {
  text-align: center;
  color: #939393;
  color: var(--w-sub);
  font-size: 14px;
  padding: 10px 0
}

.Yesterday_link_1FYjs {
  color: #eb7350;
  color: var(--w-alink);
  cursor: pointer
}

.Yesterday_link_1FYjs:hover {
  text-decoration: underline
}

.PieChart_echarts_tWYOQ {
  width: 100%;
  height: 260px
}

.NoData_noData_2wMoZ {
  width: 960px;
  height: 340px;
  background: #d8d8d8
}

.PublicOpinion_echarts_37W9l {
  width: 160px;
  height: 160px
}

.PublicOpinion_card_jHqEM {
  margin: 30px 0 40px;
  border-radius: 6px
}

.PublicOpinion_card_jHqEM:last-child {
  margin-bottom: 0
}

.PublicOpinion_tit_1LrzJ {
  height: 44px;
  padding: 0 30px;
  background: #f9f9f9;
  background: var(--w-dividing-line)
}

.PublicOpinion_subtit_14NzD {
  margin: -10px 0 0;
  padding: 0 30px 10px;
  background: #f9f9f9;
  background: var(--w-dividing-line);
  color: #939393;
  color: var(--w-sub)
}

.PublicOpinion_line_2SKQX {
  margin: 40px 0
}

.PublicOpinion_con_c2wsl {
  padding: 40px 30px
}

.PublicOpinion_f16_1g2lu {
  font-size: 16px;
  line-height: 26px
}

.PublicOpinion_fb_3w1HC {
  font-weight: 700
}

.PublicOpinion_help_1vaKG {
  height: 16px;
  cursor: pointer;
  padding: 10px 10px 10px 0
}

.PublicOpinion_helppop1_bi_y0 {
  width: 400px
}

.PublicOpinion_wc2_2_icN {
  width: 250px
}

.PublicOpinion_wc5_38H7Y {
  width: 80px
}

.PublicOpinion_marc1_3HgHM {
  margin-left: 100px
}

.PublicOpinion_item_3padF {
  margin: 0 0 40px
}

.PublicOpinion_item_3padF:last-child {
  margin: 0
}

.PublicOpinion_tc_1tanl {
  text-align: center
}

.PublicOpinion_cut1_JO2Mh {
  overflow: hidden
}

.PublicOpinion_boxa_3eQxc {
  margin: 30px 40px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.BarChart_echarts_3Fpj1 {
  width: 100%;
  height: 300px
}

.BarChart_autoHeight_1gvm7 {
  height: 2000px
}

.Personas_boxa_1f4tR {
  margin: 30px 40px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.Personas_card_1chEJ {
  margin: 30px 0 40px;
  border-radius: 6px
}

.Personas_card_1chEJ:last-child {
  margin-bottom: 0
}

.Personas_line_1o86L {
  margin: 40px 0
}

.Personas_tit_19leG {
  height: 44px;
  padding: 0 30px
}

.Personas_subtit_VCKwu,
.Personas_tit_19leG {
  background: #f9f9f9;
  background: var(--w-dividing-line)
}

.Personas_subtit_VCKwu {
  margin: -10px 0 0;
  padding: 0 30px 10px;
  color: #939393;
  color: var(--w-sub)
}

.Personas_help_107bH {
  height: 16px;
  cursor: pointer;
  padding: 10px 10px 10px 0
}

.Personas_helppop1_2Upjm {
  width: 400px
}

.Personas_con_Wr_Sx {
  padding: 40px 30px
}

.Personas_f16_uwLo0 {
  font-size: 16px;
  line-height: 26px
}

.Personas_fb_3hN0t {
  font-weight: 700
}

.Personas_tit3_3utw1 {
  margin: -10px 0 20px
}

.Personas_we1_3gqB6 {
  width: 450px
}

.PubPrzData_boxa_2kdw1 {
  margin: 30px 40px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.PubPrzData_f1_1YV5n {
  font-size: 72px
}

.PubPrzData_f2_2oRo9 {
  font-size: 48px
}

.PubPrzData_f16_11fAj {
  font-size: 16px;
  line-height: 26px
}

.PubPrzData_fb_6JPrj {
  font-weight: 700
}

.PubPrzData_cla_1oGOG {
  color: #ff8200
}

.PubPrzData_clb_3yfUz {
  color: #6dcc1b
}

.PubPrzData_clc_2bE3T {
  color: #f0393e
}

.PubPrzData_cld_2-9gC {
  color: #ffbf00
}

.PubPrzData_bga_24-Rf {
  background: #ff8200
}

.PubPrzData_bgb_24PxK {
  background: #6dcc1b
}

.PubPrzData_bgc_3Wvp7 {
  background: #f0393e
}

.PubPrzData_bgd_AjI13 {
  background: #ffbf00
}

.PubPrzData_bge_xdb7M {
  background: #ffa996
}

.PubPrzData_tc_1KwNV {
  text-align: center
}

.PubPrzData_tr_2nUa2 {
  text-align: right
}

.PubPrzData_mara1_1tCa6 {
  margin: 0 6px
}

.PubPrzData_mara2_2DISL {
  margin: 0 6px 0 0
}

.PubPrzData_marb1_nePG_ {
  margin: 0 0 0 10px
}

.PubPrzData_marb2_1iQC3 {
  margin: 0 10px
}

.PubPrzData_marb3_GDR8L {
  margin: 0 10px 0 0
}

.PubPrzData_marb4_2lmp7 {
  margin-left: 50px
}

.PubPrzData_tab_2gTkB {
  padding: 7px 20px;
  margin: 4px 0;
  border-radius: 18px;
  color: #333;
  color: var(--w-main)
}

.PubPrzData_tab_2gTkB:hover {
  background-color: rgba(255, 130, 0, .1);
  background-color: var(--w-hover);
  color: #ff8200;
  color: var(--w-brand)
}

.PubPrzData_line_3SqoK {
  margin: 40px 0
}

.PubPrzData_cut1_26lw9 {
  overflow: hidden
}

.PubPrzData_wd1_2wD2R {
  max-width: 130px
}

.PubPrzData_cut2_3azHq {
  -webkit-line-clamp: 2
}

.PubPrzData_btn_1CAqO {
  border-radius: 6px;
  border-color: #d9d9d9 !important
}

.PubPrzData_card_2o1Pt {
  margin: 30px 0 40px;
  border-radius: 6px
}

.PubPrzData_card_2o1Pt:last-child {
  margin-bottom: 0
}

.PubPrzData_tit_T1g2z {
  height: 44px;
  padding: 0 30px;
  background: #f9f9f9;
  background: var(--w-dividing-line)
}

.PubPrzData_wa1_1bgqT {
  width: 50px
}

.PubPrzData_wa2_2AXas {
  width: 80px
}

.PubPrzData_wb1_13JDd {
  width: 160px
}

.PubPrzData_wb2_3qSOe {
  width: 270px
}

.PubPrzData_wc1_1ilMC {
  width: 480px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.PubPrzData_wc2_2WYCw {
  width: 250px
}

.PubPrzData_wc3_3RioL {
  width: 150px
}

.PubPrzData_wc4_1jKUs {
  width: 440px
}

.PubPrzData_wc5_1D2PQ {
  width: 80px
}

.PubPrzData_wc6_16sF5 {
  width: 100px
}

.PubPrzData_wc7_2SvYg {
  width: 200px
}

.PubPrzData_wd2_XKahe {
  width: 100%
}

.PubPrzData_wd3_1lXU4 {
  width: 460px;
  text-align: left
}

.PubPrzData_wd4_kT1Th {
  width: 600px;
  text-align: left
}

.PubPrzData_wd5_2kBM4 {
  width: 260px;
  text-align: left
}

.PubPrzData_boxc1_1BQiT {
  margin: 0 0 30px
}

.PubPrzData_boxc2_1KwCb {
  margin: -20px 0 40px
}

.PubPrzData_boxc3_JrbiJ {
  padding: 0 20px
}

.PubPrzData_boxc3_JrbiJ>div:nth-child(2) {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1
}

.PubPrzData_boxc4_cAp7U {
  margin: 20px 0 0;
  padding: 0 20px
}

.PubPrzData_hover1_-JaIS {
  padding: 10px;
  cursor: pointer;
  min-width: 0
}

.PubPrzData_hover1_-JaIS:hover {
  background: #f2f2f2;
  background: var(--w-repost-background)
}

.PubPrzData_hover1_-JaIS:hover .PubPrzData_retweet_21s5B:hover {
  background: #e6e8ee
}

.PubPrzData_retweet_21s5B {
  margin: 10px 0 0;
  padding: 10px;
  background: #f9f9f9;
  background: var(--w-retweet-background);
  color: #939393;
  color: var(--w-sub)
}

.PubPrzData_con_1PtuB {
  padding: 40px 30px
}

.PubPrzData_table1_ztCQy {
  margin: 30px 0;
  border-collapse: collapse;
  border-spacing: 0
}

.PubPrzData_table1_ztCQy:last-child {
  margin-bottom: 0
}

.PubPrzData_table1_ztCQy td {
  min-width: 110px;
  padding: 8px 10px;
  border: 1px solid #f9f9f9;
  border: 1px solid var(--w-dividing-line);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center
}

.PubPrzData_table2_3ARxP td {
  min-width: 90px
}

.PubPrzData_data1_2xBEx {
  width: 160px;
  height: 160px;
  margin: 0 40px 0 0;
  background: red
}

.PubPrzData_dot_gY3hX {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  overflow: hidden
}

.PubPrzData_boxb1_2IsYO>div {
  margin: 0 0 10px
}

.PubPrzData_boxb1_2IsYO>div:last-child {
  margin: 0
}

.PubPrzData_data2_1p0VM {
  width: 110px;
  height: 110px;
  margin: 0 30px 0 0
}

.PubPrzData_pro_1Z9Vn {
  width: 20px;
  height: 90px;
  border-radius: 2px;
  overflow: hidden
}

.PubPrzData_proin_14M9V {
  height: 100%;
  -webkit-transform-origin: bottom;
  transform-origin: bottom
}

.PubPrzData_boxb2_2cOAP {
  height: 50px;
  margin: 0 0 10px
}

.PubPrzData_rank1_1fqdr {
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 26px;
  height: 12px;
  margin-left: -13px;
  border-radius: 6px;
  line-height: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  color: var(--w-contrast)
}

.PubPrzData_rank2_hIH7C {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 16px
}

.PubPrzData_help_xHE7J {
  height: 16px;
  cursor: pointer;
  padding: 10px 10px 10px 0
}

.PubPrzData_helppop1_3AaCC {
  width: 400px
}

.PubPrzData_helppop1_3AaCC>p {
  margin: 0
}

.PubPrzData_helppop1_3AaCC>p>a,
.PubPrzData_helppop1_3AaCC>p>span {
  display: block
}

.PubPrzData_echartsBox_3RFoJ {
  width: 340px;
  height: 200px
}

.PubPrzData_echartsBoxLine_17DDx {
  width: 100%;
  height: 400px
}

.PubPrzData_disNone_2D0lt {
  display: none
}

.PubPrzData_selBox_B9LAy {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1
}

.PubPrzData_select_22aDf {
  position: relative
}

.PubPrzData_select_22aDf span.PubPrzData_mSel_1RTbH {
  margin-left: 0
}

.PubPrzData_mSel_1RTbH {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.PubPrzData_mSel_1RTbH>input {
  background: transparent;
  border: 0 none;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 32px;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px
}

.PubPrzData_mSel_1RTbH>input:hover {
  cursor: pointer
}

.PubPrzData_mSel_1RTbH>input:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}

.PubPrzData_posOpt_2sAYI {
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.PubPrzData_weiboWrapBox_5c3PX {
  width: 100%
}

.PubPrzData_noData_1MGh3 {
  text-align: center;
  color: #939393;
  color: var(--w-sub);
  font-size: 14px;
  padding: 10px 0
}

.PubPrzData_moreBtn_jRgE1:hover {
  cursor: pointer;
  color: #ff8200;
  color: var(--w-brand)
}

.PubPrzData_tableBox_1WcTS {
  margin-top: -20px;
  color: #939393;
  color: var(--w-sub);
  font-size: 14px
}

.PubPrzData_SchBox_SIbj0+.PubPrzData_tableBox_1WcTS {
  margin-top: 20px
}

.PubPrzData_subtit_1tKYD {
  margin: -10px 0 0;
  padding: 0 30px 10px;
  background: #f9f9f9;
  background: var(--w-dividing-line);
  color: #939393;
  color: var(--w-sub)
}

.Compare_cklayer_32u6p {
  height: 14px;
  width: 14px;
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  top: 6px;
  background: hsla(0, 0%, 51.4%, .5);
  z-index: 100
}

.Compare_hover1_28t-5 {
  padding: 10px;
  cursor: pointer
}

.Compare_hover1_28t-5:hover {
  background: #f2f2f2;
  background: var(--w-repost-background)
}

.Compare_hover1_28t-5:hover .Compare_retweet_N5PhR:hover {
  background: #e6e8ee
}

.Compare_tc_ta4gH {
  text-align: center
}

.Compare_boxa_2KOoF {
  margin: 30px 40px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.Compare_tit3_1QEkT {
  margin: -10px 0 0
}

.Compare_subtit_2kaeJ {
  padding: 0 0 10px;
  color: #939393;
  color: var(--w-sub)
}

.Compare_f16_2Hnws {
  font-size: 16px;
  line-height: 26px
}

.Compare_fb_lUv1m {
  font-weight: 700
}

.Compare_tag_1-pfv {
  height: 28px;
  margin: 0 30px 20px 0;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 28px;
  line-height: 28px;
  white-space: nowrap;
  font-size: 14px
}

.Compare_tagbtn_2KYHe {
  font-size: 16px;
  margin: 0 -4px 0 10px
}

.Compare_tagadd_2Z-tI {
  line-height: 0;
  vertical-align: top;
  font-size: 14px
}

.Compare_tagadd_2Z-tI i {
  padding: 7px
}

.Compare_tagbox_PEvcC {
  margin: 0 0 -20px
}

.Compare_cla_vlDBY {
  color: #ff8200
}

.Compare_clb_3-A4r {
  color: #6dcc1b
}

.Compare_clc_1PoYQ {
  color: #f0393e
}

.Compare_cld_3JWmh {
  color: #ffbf00
}

.Compare_cle_r-Uie {
  color: #ffa996
}

.Compare_card_16ISb {
  margin: 30px 0 40px;
  border-radius: 6px
}

.Compare_card_16ISb:last-child {
  margin-bottom: 0
}

.Compare_tit_1coet {
  height: 44px;
  padding: 0 30px;
  background: #f9f9f9;
  background: var(--w-dividing-line)
}

.Compare_con_2niej {
  padding: 40px 30px
}

.Compare_wc1_3tVVv {
  width: 480px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.Compare_wc2_3Wb5Y {
  width: 250px
}

.Compare_wc3_Yi83g {
  width: 150px
}

.Compare_wc4_3Y8lB {
  width: 440px
}

.Compare_wc7_1ZDPu {
  width: 200px
}

.Compare_scroll_2tYO0 {
  height: 352px;
  padding: 10px 20px;
  overflow: auto
}

.Compare_listitem_3Jx6Y {
  width: 100%;
  margin: 0 0 20px
}

.Compare_listitem_3Jx6Y:last-child {
  margin-bottom: 0
}

.Compare_listh3_28MMT {
  margin-top: 2px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  color: var(--w-main)
}

.Compare_listh4_2Q-GT {
  line-height: 22px;
  font-size: 12px;
  color: #939393;
  color: var(--w-sub)
}

.Compare_listh3_28MMT+.Compare_listh4_2Q-GT {
  margin-top: 10px
}

.Compare_bor1_tOjfC {
  border-radius: 6px
}

.Compare_marb1_20m0s {
  margin: 0 0 0 10px
}

.Compare_marb3_2_WxE {
  margin: 0 10px 0 0
}

.Compare_cut1_1hPJK {
  overflow: hidden
}

.Compare_cut2_AROEF {
  -webkit-line-clamp: 2
}

.Compare_line_2zKb_ {
  margin: 40px 0
}

.Compare_item_1mt3w {
  margin: 0 0 40px
}

.Compare_item_1mt3w:last-child {
  margin: 0
}

.Compare_retweet_N5PhR {
  margin: 10px 0 0;
  padding: 10px;
  background: #f9f9f9;
  background: var(--w-retweet-background);
  color: #939393;
  color: var(--w-sub)
}

.Compare_video_3uVOJ {
  width: 60px;
  height: 60px;
  margin: 0 10px 0 0
}

.Compare_pos_2vj6_ {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.Compare_icon3_2JzAl {
  font-size: 21px;
  color: hsla(0, 0%, 100%, .88);
  text-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.MvSelector_height_3mDAn {
  height: 80px
}

.MvSelector_text_Hp8he {
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #ff8200;
  color: var(--w-brand);
  cursor: pointer
}

.MvSelector_angle_1gkUn {
  margin-left: 10px;
  font-size: 16px
}

.MvSelector_menu_cX17I {
  max-height: 220px;
  overflow-y: auto
}

.MvData_posr_1D6qf {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.MvData_text_3QrXz {
  height: 80px;
  font-size: 24px;
  font-weight: 700;
  color: #ff8200;
  color: var(--w-brand);
  cursor: pointer
}

.MvData_angle_3QOS4 {
  margin-left: 10px;
  font-size: 16px
}

.MvData_tit3_34F6K {
  margin: -10px 0 20px
}

.MvData_btn_1NWPW {
  border-radius: 6px;
  border-color: #d9d9d9 !important
}

.MvData_help_2kFYz {
  height: 16px;
  cursor: pointer
}

.MvData_helppop1_3WMz5 {
  width: 400px
}
